*{
   margin: 0px;
   padding:0px;
}
body{
    background-color: grey;
    height: auto;
}
.topbox {
      width: 450px;
      border: 6px solid rgb(252, 6, 6);
      border-radius: 10px;
      box-shadow: 7px 7px purple;
      position: relative;
      left: 450px;
      top:5px;
      background-color: white;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      font-style: italic;
      text-shadow: 1px 2px rgb(66, 2, 66);
      color: brown;
      line-height: 40px;
}
#a1{
    border:1px solid white;
    padding: 3px;
    margin-top: 10px;
    
}
.container{
    width: 99%;
    height: 560px;
    margin-top: 8px;
    border: 7px solid green;
    font-weight: bold;
   
    
}

.child{
    width:220px;
    height: 200px;
    border: 6px solid red;
    border-radius: 10px;
    box-shadow: 7px 7px purple;
    background-color: white;
    text-align: center;
    

    
}
.child1{
    font-size: 20px;
    line-height: 35px;
    text-shadow: 1px 1px rgb(66, 2, 66);
    color: rgb(66, 3, 3);
    padding-top: 15px;


}
.child2{
    position: absolute;
    left: 1050px;
    top:166px;
}
.child2 img{
    max-width: 80%;
    margin-top: 40px;
    border-bottom:2px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    
}
.child3{
    text-align: left;
    padding-top: 20px;
    font-size: 20px;
    text-shadow: 1px 1px purple;
    position: relative;
    top: 70px;
    left: 5px;
}
.child4{
    position: absolute;
    left: 1050px;
    top : 460px;
    font-size: 20px;
    padding-bottom: 15px;
    text-shadow: 1px 2px 2px rgb(66, 2, 66);
    color: rgb(131, 9, 9);
    line-height: 25px;
    padding-top: 10px;
   
    

}
label{
    font-size:15px ;
}
input{
    width: 100px;
    text-align: center;
}
button{
    background-color: rgb(247, 68, 68);
}
.lastbox{
   
    width: 880px;
    height: 680px;
    border:7px solid purple;
    position: relative;
    top: 15px;
    left: 250px;
    text-align: center;
    background-color: green;
    padding-top: 8px;

}
.lastbox-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 6px;
    margin-top: 18px;
}
.box{
   width: 435px;
   height: 300px;
   border:none; 
   background-color: rgb(236, 236, 101);
   font-style: italic;
 
}
.box h2{
    padding: 20px;
}
.box p{
    font-size: 20px;
    
}
.box3{
    width:880px;
    margin-left: 5px;   
}
.box3 p{
      line-height: 50px;
}
.fixedbox{
    border: 7px solid red;
    border-radius: 10px;
    width: 620px;
    height: 90px;
    box-shadow: 8px 8px  purple;
    background-color: rgb(168, 250, 45);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-style: italic;
    z-index: 1;
    text-align: center;
    position: fixed;
    top: 515px;
    left: 308px;
}
.fix1{
    color: rgb(172, 9, 9);
    font-size: 22px;
    font-weight: bold;
    padding-top: 8px;
}
.fix2{
    color: rgb(172, 9, 9);
    font-size: 21px;
    font-weight: bold;
    padding-top: 6px;
}





